/* botões */
.button {
	font-weight: normal;
	background: #000000;
	color: white;
}
/* botões */

/* labels de inputs */
.label {
	display: block;
}
/* labels de inputs */

/* classes que podem ser utilizadas em fieldsets */
.group{
	background: rgba(0, 0, 0, 0.2);
	color: white;
}
/* classe que podem ser utilizadas em fieldsets */

.margin-top{
	margin-top: 10px;
}